[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "GameEngine/vendor/imgui"]
	path = GameEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "GameEngine/vendor/glm"]
	path = GameEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
